.login-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #96bf01;
  z-index: 3;
}

.avatar-container svg {
  width: 90%;
  height: 130px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10%;
}

.form-heading {
  color: #fff; /* Green text */
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input-icon {
  margin-right: 10px;
}

p {
  margin-top: 20px;
}

p a {
  color: #2ecc71; /* Green link color */
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.login-button {
  background-color: #eff0ea;
  color: #96bf01;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  gap: 5px;
  align-items: center;

}

.back-button {
  background-color: #ccc;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}
