.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #acd613;
  }
  

  .avatar-container svg  {
    width: 90%;
    height: 130px;

  }


  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .form-heading {
    color: #ffffff; /* Green text */
    margin-bottom: 10px;
  }
  
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #2ecc71; /* Green underline */
  }
  
  .input-icon {
    margin-right: 10px;
  }
  
  .login-button {
    background-color: #2ecc71; /* Green button background */
    color: white;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .back-button {
    background-color: transparent;
    color: #2ecc71; /* Green text */
    border: none;
    cursor: pointer;
  }
  
  p {
    margin-top: 20px;
  }
  
  p a {
    color: #2ecc71; /* Green link color */
  }

  
  .input-container {
    margin-bottom: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .login-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .back-button {
    background-color: #ccc;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }