.house-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}

.menu-back {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
}

.btn-book1 {
  font-size: 20px;
  background: transparent;
}

.btn-book2 {
  border: none;
  background-color: rgb(104, 241, 13);
  padding: 10px 40px;
  border-radius: 40px;
  color: white;
  font-size: medium;
  cursor: pointer;
  margin-top: 15px;
}

.dis-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.house-info {
  padding-top: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.detail-title {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: x-large;
  color: rgb(19, 12, 12);
}

.house-dtls {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}

@media screen and (min-width: 760px) {
  .details-container {
    background-color: white;
    height: 100vh;
  }

  .house-detail {
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-left: 30%;
    margin-top: 5%;
  }

  .detail-title {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: xx-large;
    color: rgb(43, 29, 29);
  }

  .dis-img {
    width: 250px;
    height: 250px;
    border-radius: 0;
  }

  .menu-back {
    padding: 0;
  }

  .fa-bars-details {
    display: none;
  }

  .btn-book1 {
    display: none;
  }

  .house-dtls {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .house-info {
    display: flex;
    align-items: end;
  }

  .details-desc {
    font-size: xx-small;
    margin-top: 0;
  }

  .details-rental {
    background-color: rgb(202, 200, 200);
    padding: 7px 14px;
    width: 200px;
  }

  .details-date-built {
    font-weight: bolder;
    font-size: small;
  }

  .btn-book2 {
    border: none;
    background-color: rgb(104, 241, 13);
    padding: 10px 40px;
    border-radius: 40px;
    color: white;
    font-size: medium;
    cursor: pointer;
  }

  .faChevronRight {
    margin-left: 10px;
    color: white;
  }

  .fa-gear {
    margin-right: 10px;
    color: white;
  }
}
