/* .navbar {
   display: flex;
  flex-direction: column;
  height: 100%;
  width: 17.5%;
  background-color: rgb(255, 255, 255);
  list-style: none;
  padding: 1rem;
  align-items: center;
  text-align: center;
  position: fixed;
  margin-top: 2.8rem;
  border-right: 1px solid rgb(226, 221, 221);
  z-index: 2; } */

/*
.navbar li {
  margin-left: 1rem;
  width: 14rem;
  height: 3rem;
  text-decoration: none;
  padding-left: 0.2rem;
}

.navbar li a {
  display: block;
  width: 95%;
  text-decoration: none;
  font-family: sans-serif;
  color: rgb(3, 3, 3);
  font-weight: bold;
  padding: 0.8rem 3rem 0 3rem;
}

.navbar li a:hover {
  height: 3rem;
  width: 90%;
  background-color: rgba(141, 197, 10, 0.788);
  transform: scale(1.01);
  transition: transform 0.3s ease-in-out;
  border-radius: 0.3rem;
  color: white;
}

.navbar li img {
  width: 4rem;
  height: 4rem;
  border-radius: 3rem;
}

.logout-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logout-btn:hover {
  background-color: darkred;
} */

.log_btn {
  padding-top: 15px;
}

/* css for small screens */

/* @media only screen and (max-device-width: 480px) {
  .navbar {
    display: block;
    flex-direction: column;
    width: auto;
    z-index: 1;
    row-gap: 1rem;
    font-size: medium;
    position: relative;
  }
} */

.navbar-container {
  display: flex;
}

.navbar {
  /* background: linear-gradient(45deg, rgb(0, 255, 0), rgb(255, 255, 255), rgb(0, 255, 0)); */
  background-color: white;
  color: white;
  display: flex;
  justify-content: space-between;
  padding-top: 1%;
  padding-left: 9%;
  height: 100vh;
  gap: 10%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  overflow: auto;
}

.nav-itm-container {
  margin-top: 20%;
  font-size: larger;
}

.nav-itm-container li {
  font-size: xx-large;
  padding: 5%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-bottom: 1px solid rgb(95, 94, 94);
  margin-right: 10%;
}

.fincap-logo {
  color: black;
  font-size: large;
  font-weight: 900;
  font-family: cursive;
  border: 5px solid black;
  padding: 7px 14px;
  white-space: nowrap;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.nav-items {
  width: 100%;
  margin-left: 0;
  padding-left: 0;
}

.nav-close {
  margin-left: 0;
  padding-left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fa-close {
  padding-right: 5%;
  font-size: xx-large;
  font-weight: bolder;
  color: black;
}
