.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 17.5%;
  background-color: rgb(255, 255, 255);
  list-style: none;
  padding: 1rem;
  align-items: center;
  text-align: center;
  position: fixed;
  margin-top: 2.8rem;
  border-right: 1px solid rgb(226, 221, 221);
  z-index: 2;
}

.navbar li {
  margin-left: 1rem;
  margin-bottom: 2rem;
  width: 14rem;
  height: 2.5rem;
  text-decoration: none;
  padding-left: 0.2rem;
}

.navbar li a {
  display: block;
  width: 95%;
  text-decoration: none;
  font-family: sans-serif;
  color: rgb(3, 3, 3);
  font-weight: bold;
  padding: 0.8rem 3rem 0 3rem;
}

.navbar li a:hover {
  height: 3rem;
  width: 95%;
  background-color: #96bf01;
  transition: 1s ease-in-out;
  border-radius: 0.3rem;
}

.navbar li img {
  width: 4rem;
  height: 4rem;
  border-radius: 3rem;
}

.logout-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: darkred;
}

/* css for small screens */
@media only screen and (max-device-width: 480px) {
  .navbar {
    display: block;
    flex-direction: column;
    width: auto;
    z-index: 1;
    row-gap: 1rem;
    font-size: medium;
    position: relative;
  }
}
