/* code will be implemented soon */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 100%;
  width: 100%;
}

.rent-house {
  text-align: center;
  font-family: sans-serif;
  font-weight: 900;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 2;
  margin-bottom: 13rem;
  border-bottom: 0.01px solid whitesmoke;
}

.house-details {
  width: 80%;
  display: grid;
  grid-template-columns: 50% 30%;
  column-gap: 5rem;
  margin-left: 21%;
  position: absolute;
  margin-top: 1rem;
}

.image-section {
  display: flex;
  width: 40%;
  height: 50%;
  margin-top: 3rem;
}

.image-section .dis-img {
  width: 40rem;
  height: 35rem;
  border-radius: 1rem;
}

.house-info {
  display: flex;
  width: 20rem;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 2.5rem;
  margin-left: 2rem;
  padding-left: 1rem;
  padding-top: 0.4rem;
  border-radius: 1rem;
}

.house-info .house-title {
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
}

.house-info .house-dtls {
  background-color: rgb(240, 231, 231);
  height: 3rem;
  width: 20rem;
  border-radius: 0.3rem;
  padding: 0.2rem 0 0.2rem 1rem;
}

.house-info .btn-book,
.btn-back,
.btn-reserve {
  height: 3rem;
  width: 10rem;
  cursor: pointer;
  font-size: medium;
  font-weight: 600;
  background-color: #a3f834;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  border: 0;
  border-radius: 1rem;
}
