/* code will be implemented soon */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 70rem;
  height: 100rem;
}

.main-container {
  /* background-color: rgb(204, 90, 90); */
  height: 100%;
  width: 100%;

  /* position: absolute; */
}

.navbar {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: rgb(255, 255, 255);
  list-style: none;
  padding: 1rem;
  align-items: center;
  position: fixed;
  margin-top: 2.8rem;
  border-right: 0.01px solid grey;
}

.navbar li {
  margin-left: 1rem;
  margin-bottom: 3rem;
  width: 10rem;
  height: 2rem;
  text-decoration: none;
}

.navbar li a {
  text-decoration: none;
  font-family: sans-serif;
  color: rgb(3, 3, 3);
  font-weight: bold;
}

.navbar li a:hover {
  background-color: rgb(174, 235, 83);
  padding: 0.3rem;
}

.navbar li img {
  width: 4rem;
  height: 4rem;
  border-radius: 3rem;
}

.main-page {
  width: 80%;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  margin-left: 20%;
  position: absolute;
  column-gap: 1rem;
  padding-left: 1rem;
  padding-top: 2rem;
  margin-top: 2rem;
}

.main-page li {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  list-style: none;
  padding: 0.4rem;
  margin-bottom: 5rem;
  background-color: rgb(199, 180, 180);
}

.main-page li img {
  width: 100%;
  height: 100%;
  border-radius: 10rem;
}

.rent-house {
  text-align: center;
  font-family: sans-serif;
  font-weight: 900;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 1;
  margin-bottom: 13rem;
  border-bottom: 0.01px solid grey;
}

.house-details {
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 5%;
}
